
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  font-family: cursive;
  font-weight: 400;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  width: 100%;
}
#today , #time{
  font-size: 8rem;
}
#date{
  font-size: 4rem;
}